.form-container {
  border: 1px solid darkgray;
  margin-top: 40px;
  form#normal_login {
    /* background: red; */
    max-width: 350px;
    height: auto;
    border: 1px solid gainsboro;
    margin: 10px;
  }
}
.ant-form-item-control-input {
  margin: 20px 10px 20px 10px;
  input#normal_login_username {
    line-height: 30px;
    min-width: 289px;
    background-color: #fbfbfb;
    margin-left: 8px;
  }
  span.anticon.anticon-user.site-form-item-icon {
    padding-left: 7px;
  }
}
.ant-form-item-control-input-content .ant-input-affix-wrapper {
  span.anticon.anticon-lock.site-form-item-icon {
    padding-left: 7px;
  }
  input#normal_login_password {
    line-height: 30px;
    min-width: 289px;
    background-color: #fbfbfb;
    margin-left: 8px;
  }
}
