.header-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 20px;
  p.header-proudct {
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    color: rgb(235, 191, 110);
  }
}
