nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  padding: 0px !important;
  ul.navbar-nav.me-auto.mb-2.mb-lg-0 {
    width: 100%;
    display: flex;
    justify-content: center;
    a.nav-link {
      text-transform: uppercase;
      &:hover {
        color: orange;
      }
    }
  }
}
