.cart-icon-container {
  width: 64px;
  height: 64px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .shopping-icon {
    width: 32px;
    height: 32px;
  }
  // .custom-count-icon {
  //   position: absolute;
  //   font-weight: 500;
  //   bottom: 21px;
  //   font-size: 12px;
  // }
}
