.vh-100 {
  background-color: #eee;
  .card .text-black {
    border-radius: 25px;
  }
  button.btn.btn-primary.btn-lg {
    width: 70%;
  }
  .form-check.d-flex.justify-content-center.mb-5 {
    align-items: center;
  }
  .vh-100 .form-check.d-flex.justify-content-center .mb-5 {
    align-items: center !important;
    margin-bottom: 5px !important;
  }
}
