.container-shop-page {
  display: flex;
  flex-wrap: wrap;
  .container-products-card {
    width: 23.33%;
    border: 1px solid orange;
    margin: 10px;
    position: relative;

    img {
      width: 100%;
    }
    .card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px 0 10px;
    }
    .button-card {
      position: absolute;
      top: 50%;
      left: 34%;
    }
  }
}
