.container-shop-page {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 60px 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  .row.row-cols-1 {
    width: 25%;
    padding-bottom: 30px;
    padding-right: 20px;
    .card-product {
      border: 1px solid gray;
      position: relative;
      img {
        padding: 10px;
        width: 100%;
      }
      .card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 18px;
        padding-left: 18px;
      }
      button.button-submit {
        border: none;
        width: 90%;
        padding-top: 20px;
        line-height: 20px;
        margin: 20px 0 20px 14px;
        background-color: #1c1c1d;
        opacity: 70%;
        position: absolute;
        bottom: 13px;
        p.button-submit {
          color: #fff;
        }
      }
    }
  }
}
